body {
  background-color: #fff;
  color: #000;
  margin: 0;
  height: 100vh;
}

.container {
  position: relative;
  display: grid;
  place-content: center;
  height: 500px;
  overflow: hidden;
}

.title {
  position: relative;
  z-index: 10;
  white-space: pre-wrap;
  text-align: center;
  font-size: 3rem;
  /* ~text-5xl */
  font-weight: 500;
  letter-spacing: -0.02em;
  /* tracking-tighter */
  color: #000;
}

@media (prefers-color-scheme: dark) {
  .title {
    color: #fff;
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-10px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

.interactive-grid-pattern {
  position: absolute;
  inset: 0;
  height: 200%;
  transform: skewY(12deg);
  mask-image: radial-gradient(350px circle at center, white, transparent);
  -webkit-mask-image: radial-gradient(350px circle at center, white, transparent);
  background: repeating-linear-gradient(0deg,
      rgba(0, 0, 0, 0.1) 0,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px,
      transparent 40px),
    repeating-linear-gradient(90deg,
      rgba(0, 0, 0, 0.1) 0,
      rgba(0, 0, 0, 0.1) 1px,
      transparent 1px,
      transparent 40px);
  background-size: 40px 40px;
  background-position: center;
}
